body {
    background-color: white;
    font-size: 28px;
}

h1  {
    font-size: 48px;
}

h2  {
    font-size: 36px;
}
 .container {
    max-width: 1140px;
    margin: 0 auto;
 }

 .container > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1a659e;
    color: white;
 }

 nav a {
    margin-left: 16px;
    color: white;
    text-decoration:none;
    font-weight: bold;
 }

 nav a:hover {
    text-decoration: underline;
    color: #ffb703;
 }

 section {
    padding: 20px;
    font-size: 25px;
    line-height: 48px;
 }

.detail {
    display: flex;
    align-items: flex-start;
}

.detail img {
    margin-right: 20px;
    margin-bottom: 16px;
    width: 300px;
}
 #work {
    display: flex;
    flex-wrap: wrap;
 }

 article {
    width: 50%;
    padding: 20px;
 }
 article img {
    width: 100%;
 }

 .gel {
    width: 100%
 }

 footer {
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 20px;
    background-color: #1a659e;
    color: white;
    font-weight: 400;
 }

 footer a {
    margin-left: 16px;
    color: white;
    text-decoration: none;
    padding: auto;
 }

 footer a:hover {
    text-decoration: underline;
    color: #ffb703;
 }